/* Global styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1E1E1E;
    line-height: 1.9;
    font-size: 1.24rem;
    color: white;
}

a {
    color: #40E0D0;
    text-decoration: none;
}

a:hover {
    color:red;
}

h1 {
    text-align: center;
    font-size: 4.5rem;
    color: #CB721C;
}

h2 {
    color: #CB721C;
}




/* Specified styles */

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

.portfolio-body {
    text-align: center;
    line-height: 2.4;
    margin-top: 20px;
}

.paragraph-bold {
    font-weight: 900;
}

.projects-body {
    margin-top: 24px;
}

.projects-text {
    display: flex;
    max-inline-size: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.projects-title {
    flex: 0 1 250px;
    font-weight: bolder;
}

.projects-info {
    flex: 1 1 calc(50% - 12px);
}

.skills-body {
    max-inline-size: 800px;
    margin: 0 auto 0 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-body img {
    width: 75px;
}

.skills-body > * {
    flex: 1 1 300px;
}

.html, .css, .js, .java, .csharp {
    display: flex;
    margin-bottom: 25px;
}
#html-progress-bar , #css-progress-bar, #js-progress-bar, #java-progress-bar, #csharp-progress-bar{
    background-color: white;
    width: 150px;
    height: 30px;
    margin: auto 25px;
    border: 2px solid black;
    border-radius:10px;
    margin-right: 24px;
}

#html-progress-fill {
    background-color: green;
    width: 80%;
    height: 100%;
    border-radius:8px;
}

#css-progress-fill {
    background-color: yellow;
    width: 60%;
    height: 100%;
    border-radius:7px;
}

#js-progress-fill {
    background-color: yellow;
    width: 50%;
    height: 100%;
    border-radius:8px;
}

#csharp-progress-fill {
    background-color: red;
    width: 10%;
    height: 100%;
    border-radius:8px;
}

#java-progress-fill {
    background-color: yellow;
    width: 50%;
    height: 100%;
    border-radius: 8px;
}