/* Global styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: white;
    line-height: 1.9;
    font-size: 1.24rem;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:red;
}

h1 {
    text-align: center;
    font-size: 7.5rem;
    color: black;
}

h2 {
    color: black;
    
}


/* Specified styles */




/* navigation */
.navigation {
    display: flex;
    justify-content: space-around;
    border-bottom: 8px solid black;
    width: 100%;
    position: fixed;
    top: 0; /* allows to stick it to the top */
    z-index: 1000; /* This is needed so that no other element can stack over the nav bar, a higher number means higher priority to show over the other.*/
    backdrop-filter: blur(10px);
}
.navigation-logo img {
    width: 100px;
    height:75px;
}

.navigation-links {
    display: flex;
    gap: 24px;
    margin-block-start: 24px; /* Needed because of position fixed on the nav */
}


/* main */
.main-wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}


.portfolio-head {
    display: flex;
    justify-content:space-evenly;
    min-block-size: 100vh;
}


.portfolio-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}
.portfolio-heading h2 {
    text-align: center;
    font-size: 2.5rem;
}



#teal-text-colour {
    color: teal;
}



#portfolio-image {
    width: 500px;
    height: 400px;
    margin: auto;
}

.portfolio-paragraph {
    text-align: center;
    line-height: 2.4;
    margin-top: 20px;
}

.portfolio-paragraph a {
    font-weight: 900;
    margin-right: 10px;
    border: 24px solid cadetblue;
    border-radius: 24px;
    background-color:cadetblue;
    color: white;
}

.projects-body {
    margin-top: 24px;
}

.projects-text {
    display: flex;
    max-inline-size: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.projects-title {
    flex: 0 1 250px;
    font-weight: bolder;
}

.projects-info {
    flex: 1 1 calc(50% - 12px);
}

.skills-body {
    max-inline-size: 800px;
    margin: 0 auto 0 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-body img {
    width: 75px;
}

.skills-body > * {
    flex: 1 1 300px;
}

.html, .css, .js, .java, .csharp {
    display: flex;
    margin-bottom: 25px;
}
#html-progress-bar , #css-progress-bar, #js-progress-bar, #java-progress-bar, #csharp-progress-bar{
    width: 150px;
    height: 30px;
    margin: auto 25px;
    border: 2px solid black;
    border-radius:10px;
    margin-right: 24px;
}

#html-progress-fill {
    background-color: green;
    width: 80%;
    height: 100%;
    border-radius:8px;
}

#css-progress-fill {
    background-color: yellow;
    width: 60%;
    height: 100%;
    border-radius:7px;
}

#js-progress-fill {
    background-color: yellow;
    width: 50%;
    height: 100%;
    border-radius:8px;
}

#csharp-progress-fill {
    background-color: red;
    width: 10%;
    height: 100%;
    border-radius:8px;
}

#java-progress-fill {
    background-color: yellow;
    width: 50%;
    height: 100%;
    border-radius: 8px;
}